<!DOCTYPE html>
<html>

<head>
    <meta charset="{{ site.charset }}" />
    <title>
        {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
        {% else %}
        {{ site.name }}
        {% endif %}
    </title>
    <!-- favicon start -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="{{ site.theme.link }}/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="{{ site.theme.link }}/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="{{ site.theme.link }}/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="{{ site.theme.link }}/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ site.theme.link }}/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{ site.theme.link }}/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ site.theme.link }}/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
        href="{{ site.theme.link }}/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ site.theme.link }}/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/assets/images/favicon/manifest.json">
    <link rel="shortcut icon" href="{{ site.theme.link }}/assets/images/favicon/favicon.ico">
    <!-- favicon end -->
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    {{function('wp_head')}}
</head>

<body class="{{body_class}}">
    <div id="app">
    <header class="main-header">
     <div class="main-header-top">
        <div class="container">
         	<div class="main-header-left">
         		<button class="btn-hamburger btn-hamburger-1 js_hamburger"><span></span></button>
         		<div class="main-header-whatsapp"><a href=""><img src="{{ site.theme.link }}/assets/images/whatsapp.png" alt=""></a></div>
         		<div class="main-header-viber"><a href=""><img src="{{ site.theme.link }}/assets/images/viber.png" alt=""></a></div>
         		<div class="main-header-phone"><a href="">+7 (495) 633 72 90</a></div>
         		<div class="main-header-email"><a href=""><img src="{{ site.theme.link }}/assets/images/email.png" alt=""></a></div>
         	</div>
         	<div class="main-header-logo"><a href="{{ site.link }}"><img src="{{ site.theme.link }}/assets/images/logo.png" alt=""></a></div>
         	<div class="main-header-right">
         		<div class="main-header-search">
         			<form role="search" method="get" action="{{ site.link }}" class="searchform group">
         				<input type="submit" value="" class="search-button">
    					<input required="required" type="text" name="s" id="s" placeholder="Поиск по сайту" class="search-text">
    				</form>
         		</div>
         		<div class="main-header-user">
         			<a href="{{ site.link }}/my-account"><img src="{{ site.theme.link }}/assets/images/user.png" alt=""></a>
         		</div>
                {% do action('header_action') %}
         	</div>
        </div>
     </div>
     <div class="main-header-bottom">
     	<div class="main-header-menu">
     		<ul>
     			<li><a href="{{ site.link }}/brends/">БРЕНДЫ</a></li>
     			<li><a href="{{ site.link }}/product-category/nizhnee-bele-2/">НИЖНЕЕ БЕЛЬЕ</a></li>
     			<li><a href="{{ site.link }}/product-category/dlya-sna-i-otdyha-2/">ОДЕЖДА ДЛЯ СНА И ОТДЫХА</a></li>
     			<li><a href="{{ site.link }}/product-category/plyazh-2/">ПЛЯЖ</a></li>
     			<li><a href="{{ site.link }}/product-category/aksessuary/">АКСЕССУАРЫ</a></li>
     			<li><a href="{{ site.link }}/%d0%bf%d0%be%d0%b4%d0%b1%d0%be%d1%80-%d1%80%d0%b0%d0%b7%d0%bc%d0%b5%d1%80%d0%b0/">ПОДБОР РАЗМЕРА</a></li>
     		</ul>
     	</div>
     </div>
    </header>
        <div class="hidden-menu_block">
            <button class="btn-hamburger btn-hamburger-1 js_hamburger active"><span></span></button>
     		<div class="hidden-menu_block-header">
     		<div class="hidden-menu_block-left">
     			<div class="hidden-block-logo"><a href=""><img src="{{ site.theme.link }}/assets/images/logo.png" alt=""></a></div>
     			<div class="hidden-menu_block-title"><h2>Женская одежда от российского производителя</h2></div>
     		</div>
			<div class="hidden-menu_block-header-info"><a href="{{ site.link }}/my-account">Войдите</a> или <a href="{{ site.link }}/my-account">зарегистрируйтесь</a>, чтобы получить доступ ко всем фотографиям, размерам и ценам</div>	
     		</div>
     		<div class="hidden-menu_block-content">
                <div class="hidden-menu_block-item">
                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        <li><a href="{{ site.link }}/brends/">БРЕНДЫ</a></li>
                        <li><a href="{{ site.link }}/product-category/nizhnee-bele-2/">НИЖНЕЕ БЕЛЬЕ</a></li>
                        <li><a href="{{ site.link }}/product-category/dlya-sna-i-otdyha-2/">ОДЕЖДА ДЛЯ СНА И ОТДЫХА</a></li>
                        <li><a href="{{ site.link }}/product-category/plyazh-2/">ПЛЯЖ</a></li>
                        <li><a href="{{ site.link }}/product-category/aksessuary/">АКСЕССУАРЫ</a></li>
                        <li><a href="{{ site.link }}/%d0%bf%d0%be%d0%b4%d0%b1%d0%be%d1%80-%d1%80%d0%b0%d0%b7%d0%bc%d0%b5%d1%80%d0%b0/">ПОДБОР РАЗМЕРА</a></li>
                    </ul>
                </div>
     			<div class="hidden-menu_block-item">
     				<ul>
          				<li><a href="{{ site.link }}/%d0%be-%d0%bd%d0%b0%d1%81/">О нас</a></li>
          				<li><a href="{{ site.link }}/contacts">Контакты</a></li>
          				<li><a href="{{ site.link }}/blog">Блог</a></li>
        			</ul>
     			</div>
     		</div>
     		<div class="hidden-menu-socials">
     			<div class="socials">
      				<a href="" class="social">
      					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.997 3.985h2.191V.169C17.81.117 16.51 0 14.996 0c-3.159 0-5.323 1.987-5.323 5.639V9H6.187v4.266h3.486V24h4.274V13.267h3.345l.531-4.266h-3.877V6.062c.001-1.233.333-2.077 2.051-2.077z"/></svg>
      				</a>
      				<a href="" class="social">
      					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352 0H160C71.648 0 0 71.648 0 160v192c0 88.352 71.648 160 160 160h192c88.352 0 160-71.648 160-160V160C512 71.648 440.352 0 352 0zm112 352c0 61.76-50.24 112-112 112H160c-61.76 0-112-50.24-112-112V160C48 98.24 98.24 48 160 48h192c61.76 0 112 50.24 112 112v192z"/><path d="M256 128c-70.688 0-128 57.312-128 128s57.312 128 128 128 128-57.312 128-128-57.312-128-128-128zm0 208c-44.096 0-80-35.904-80-80 0-44.128 35.904-80 80-80s80 35.872 80 80c0 44.096-35.904 80-80 80z"/><circle cx="393.6" cy="118.4" r="17.056"/></svg>
      				</a>
    			</div>
     		</div>
     </div>