<div class="archive-product-sidebar">
    <div class="sidebar-menu-item">
        <ul>
            {% for parent_category in Term(main_categories) %}
                <li>
                    <a class="sidebar-menu-item-name" href="{{ parent_category.link }}">{{ parent_category.title }}</a>
                    {% if parent_category.children %}
                        <ul class="sidebar-menu-content"> 
                        {% for category in parent_category.children %}    
                            <li {% if category.id == term_id and not shop %}class="current-menu-item"{% endif %} data-id="{{ category.id }}">
                                <a href="{{ category.link }}">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>