{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="archive-product-block">
		<div class="container">
			{% include "partials/sidebar-menu.twig" %}
			<div class="archive-products-main">
				{{ function('woocommerce_breadcrumb') }}
				<div class="all-page-title">
					<h1>Трусы 311</h1>
				</div>
				<div class="single-product-top">
					<div class="product-image">
						<img data-zoom="{{ site.theme.link }}/assets/images/product.jpg" class="product-gallery__item" src="{{ site.theme.link }}/assets/images/product.jpg" alt="">
					</div>
					<div class="product-info">
						<div class="product-info-top">
							<p>Бренд:  EUROBRA</p>
							<p>Товар:  ТРУСЫ 311</p>
						</div>
						<div class="product-info-middle">
							<p>Покрой:  Пуш Ап Поролон</p>
							<p>Страна производитель:  Латвия</p>
							<p>Производитель:  STEFI-L</p>
							<p>Вид бретелек:  несъемные</p>
						</div>
						<div class="product-info-bottom">
							{% if product_variations %}
							<div class="add-to-cart-table">
								<div class="add-to-cart-header">
									<div class="add-to-cart-column">Цвет</div>
									<div class="add-to-cart-column">Размер</div>
									<div class="add-to-cart-column">В наличии</div>
									<div class="add-to-cart-column">Количество</div>
								</div>
								<div class="add-to-cart-row" v-for="variation in productVariations">
									<div class="add-to-cart-column">(( variation.value ))</div>
									<div class="add-to-cart-column">(( variation.label ))</div>
									<div class="add-to-cart-column">(( variation.stock_quantity ))</div>									
										<addcart count='1' :max-count="variation.stock_quantity" :product_id="variation.id"></addcart>
								</div>		
							</div>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="single-product-bottom">
					<div class="single-product-bottom-slider">
						<div class="single-product-bottom-slider-name">Ещё из коллекции</div>
						<div class="popular-slick">
							{% for item in 0..10 %}
							<div class="popular-slick-content">
								<a class="products-item-link" href="{{ site.link }}/product/%d1%82%d0%be%d0%b2%d0%b0%d1%80/">
									<div class="products-item-image">
										<img src="{{ site.theme.link }}/assets/images/prod-thmb.jpg" alt="">
										<div class="sale-tag">15%</div>
									</div>
									<div class="product-item-name"><h4>EUROBRA - ТРУСЫ 311</h4></div>
									<div class="products-item-price">1300 <img src="{{ site.theme.link }}/assets/images/rub.png" alt=""></div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="single-product-bottom-slider">
						<div class="single-product-bottom-slider-name">Вы смотрели</div>
						<div class="popular-slick">
							{% for item in 0..10 %}
							<div class="popular-slick-content">
								<a class="products-item-link" href="{{ site.link }}/product/%d1%82%d0%be%d0%b2%d0%b0%d1%80/">
									<div class="products-item-image">
										<img src="{{ site.theme.link }}/assets/images/prod-thmb.jpg" alt="">
										<div class="sale-tag">15%</div>
									</div>
									<div class="product-item-name"><h4>EUROBRA - ТРУСЫ 311</h4></div>
									<div class="products-item-price">1300 <img src="{{ site.theme.link }}/assets/images/rub.png" alt=""></div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}