{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="archive-product-block">
		<div class="container">
			{% include "partials/sidebar-menu.twig" %}
			<div class="archive-products-main">
				{{ function('woocommerce_breadcrumb') }}
				<div class="all-page-title">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="single-product-top product-for-record" id-product="{{ post.id }}">
					<div class="product-image">
						{% if post.thumbnail %}
							<img data-zoom="{{ post.thumbnail.src('full') }}" class="product-gallery__item" src="{{ post.thumbnail.src('full') }}" alt="">
						{% else %}
							<img class="product-gallery__item" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
						{% endif %}
					</div>
					<div class="product-info">
						<div class="product-info-top">
							<p>{{ post.preview.length(999).read_more('') }}</p>
						</div>
						<div class="product-price">{{ product.get_price_html }}</div>
						<div class="product-info-middle">

							{% if sku %}
			            	    <p>Артикул: {{ sku }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_proizvoditel') %}
			                    <p>Производитель: {{ product.get_attribute('pa_proizvoditel') }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_pokroj') %}
			                    <p>Покрой: {{ product.get_attribute('pa_pokroj') }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_покрой-3') %}
			                    <p>Покрой: {{ product.get_attribute('pa_покрой-3') }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_posadka') %}
			                    <p>Посадка: {{ product.get_attribute('pa_posadka') }}</p>
			                {% endif %}
			                {# {% if product.get_attribute('pa_посадка') %}
			                    <p>Посадка: {{ product.get_attribute('pa_посадка') }}</p>
			                {% endif %} #}
			                {% if product.get_attribute('pa_посадка-3') %}
			                    <p>Посадка: {{ product.get_attribute('pa_посадка-3') }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_vid-bretelek') %}
			                    <p>Вид бретелек: {{ product.get_attribute('pa_vid-bretelek') }}</p>
			                {% endif %}
			                {% if product.get_attribute('pa_вид-бретелек-3') %}
			                    <p>Вид бретелек: {{ product.get_attribute('pa_вид-бретелек-3') }}</p>
			                {% endif %}
						</div>
						<div class="product-info-bottom">
							{% if product_variations %}
							<div class="add-to-cart-table">
								<div class="add-to-cart-header">
									<div class="add-to-cart-column">Цвет</div>
									<div class="add-to-cart-column">Размер</div>
									<div class="add-to-cart-column">В наличии</div>
									<div class="add-to-cart-column">Количество</div>
								</div>
								<div class="add-to-cart-row" v-for="variation in productVariations">
									<div class="add-to-cart-column">(( variation.value ))</div>
									<div class="add-to-cart-column">(( variation.label ))</div>
									<div class="add-to-cart-column">(( variation.stock_quantity ))</div>									
										<addcart count='1' :max-count="variation.stock_quantity" :product_id="variation.id"></addcart>
								</div>		
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="single-product-bottom">
				{% if rand_prod %}
					<div class="single-product-bottom-slider">
						<div class="single-product-bottom-slider-name">Ещё из коллекции</div>
						<div class="popular-slick">
							{% for post in rand_prod %}
							<div class="popular-slick-content">
								{{ fn('product_render', post) }}
							</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
					{% include "partials/products-viewed.twig" %}
					{# <div class="single-product-bottom-slider">
						<div class="single-product-bottom-slider-name">Вы смотрели</div>
						<div class="popular-slick">
							{% for item in 0..10 %}
							<div class="popular-slick-content">
								<a class="products-item-link" href="{{ site.link }}/product/%d1%82%d0%be%d0%b2%d0%b0%d1%80/">
									<div class="products-item-image">
										<img src="{{ site.theme.link }}/assets/images/prod-thmb.jpg" alt="">
										<div class="sale-tag">15%</div>
									</div>
									<div class="product-item-name"><h4>EUROBRA - ТРУСЫ 311</h4></div>
									<div class="products-item-price">1300 <img src="{{ site.theme.link }}/assets/images/rub.png" alt=""></div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div> #}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}